:root {
  --primary: #f85555;
  --light-gray: #dcd9d9;
  --gray: #c7c7c7;
  --dark-gray: #4f4f4f;
  --text-gray: #ababab;
  --border: 1px solid var(--light-gray);
  --title-color:#515151;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* background-color: #282c34;
  color: white; */
  font-family: Yantramanav,sans-serif; 
}

a{
  text-decoration: none;
  color: black;
}

img{
  max-width: 100%;
  height: auto;
}

button{
  cursor: pointer;
}

/************** Utilitis *****************/

.section-container{
  max-width: 1024px;
  margin-left: auto;
  margin-left: auto;
  padding: 0 1rem;
}